html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;

  /* margin: 0; */
}

.title {
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}
