html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Courier New', Courier, monospace;
  
  display: flex;
  flex-direction: column;

  align-items: center;

  /* margin: 0; */
}

.title {
  color: #56d6ce;
  font-size: 4rem;
}

.players-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem;
}

.play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17rem;

  height: 10rem;
  margin: 2rem;
  /* padding: 1rem; */
}

.play-area img {
  width: 8rem;
}

.choices-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.choice {
  transition: all 0.07s ease;
}

.choice:hover {
  cursor: pointer;
}

.choice-maybe {
  transform: scale(1.1);
  /* box-shadow: 0 0 1rem cyan; */
}